body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
    background-color: #9acdff;
}

.form-container {
    background: rgb(244, 244, 240);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(15, 5, 5, 0.1);
    width: 100%;
    max-width: 400px;
}

form h2 {
    margin-bottom: 1rem;
    color: #0777f7;
    text-align: center;
}

.form-group {
    margin-bottom: .5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #333;
    background-color: #fafafa;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
